#head {
	font-family: monospace;
	color: #fff;
	margin: auto;
	padding: 35px;
	font-size: 40px;
	text-align: center;
}
#bar {
	text-align: center;
	width: 701px;
	height: 25px;
	background-color: #DAD9D9;
	margin: 0 auto;
	font-family: monospace;
	padding: auto;
	float: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#red {
	background-color: #E94B35;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin: 0 auto;
	left: -47%;
	bottom: -20%;
	position: relative;
}
#yellow {
	background-color: #f0f000;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin: 0 auto;
	left: -44%;
	bottom: 40%;
	position: relative;
	display: block;
}
#green {
	background-color: #1AAF5C;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin: 0 auto;
	left: -41%;
	bottom: 99%;
	position: relative;
	display: block;
}
#screen {
	background-color: #33485E;
	width: 700px;
	height: 150px;
	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;
	margin: 0 auto;
	padding: 1px;
}
.font {
	color: #fff;
	font-family: monospace;
	font-size: 15px;
	text-align: left;
	position: static;
}
.qst {
	color: #E6B840;
}
.cmd {
	color: #B9CA48;
}
pre {
	font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
}
